.wp-block-feed-block-for-youtube-video {
	position: relative;
	.lightbox-trigger {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform : translate(-50%,-50%);
		transform : translate(-50%,-50%);
		padding: 0;
		border: 0;
		background: 0;
		svg {
			opacity: .75;
		}
	}
}

.wp-embed-youtube-video-player-light-box {
	cursor: zoom-in;
}

.wp-embed-responsive .wp-has-aspect-ratio {
	iframe {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}

.embed-responsive {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	img {
		width: 100%;
    height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform : translate(-50%,-50%);
		transform : translate(-50%,-50%);
	}
	.embed-responsive-item {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		border: 0;
	}
}

.wp-lightbox-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	visibility: hidden;
	cursor: zoom-out;

	.close-button {
		position: absolute;
		top: calc(env(safe-area-inset-top) + 16px); // equivalent to $grid-unit-20
		right: calc(env(safe-area-inset-right) + 16px); // equivalent to $grid-unit-20
		padding: 0;
		cursor: pointer;
		z-index: 5000000;
		min-width: 40px; // equivalent to $button-size-next-default-40px
		min-height: 40px; // equivalent to $button-size-next-default-40px
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover,
		&:focus,
		&:not(:hover):not(:active):not(.has-background) {
			background: none;
			border: none;
		}
	}

	.lightbox-image-container {
		position: absolute;
		overflow: hidden;
		top: 50%;
		left: 50%;
		transform-origin: top left;
		transform: translate(-50%, -50%);
		width: var(--wp--lightbox-container-width);
		height: var(--wp--lightbox-container-height);
		z-index: 9999999999;
	}

	.lightbox-image-youtube {
		left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top left;
	}

	button {
		border: none;
		background: none;
	}

	.scrim {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 2000000;
		background-color: rgb(255, 255, 255);
		opacity: 0.9;
	}

	// When fading, make the image come in slightly slower
	// or faster than the scrim to give a sense of depth.
	&.active {
		visibility: visible;
		animation: both turn-on-visibility 0.25s;
	}
	&.show-closing-animation {
		&:not(.active) {
			animation: both turn-off-visibility 0.35s;
		}
	}

	@media (prefers-reduced-motion: no-preference) {
		&.zoom {
			&.active {
				opacity: 1;
				visibility: visible;
				animation: none;
				.scrim {
					animation: turn-on-visibility 0.4s forwards;
				}
			}
			&.show-closing-animation {
				&:not(.active) {
					animation: none;
					.scrim {
						animation: turn-off-visibility 0.4s forwards;
					}
				}
			}
		}
	}
}

@keyframes turn-on-visibility {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes turn-off-visibility {
	0% {
		opacity: 1;
		visibility: visible;
	}
	99% {
		opacity: 0;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}
